.card-item {
   height: 400px;
   padding: 30px;
   width: 400px;
   cursor: pointer;
   /* box-shadow: 20px 80px 50px rgba(157, 46, 46, 0.2);
   border-radius: 50%; */
}

.card-item:hover {
   transform: scale(1.02);
   box-shadow: 0px 0px 10px rgba(246, 7, 7, 0.5);
}

.grid-item {
   border-radius: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   /* box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 10%; */
}
h1{
   color:black;
}

.btn-clr {
   background-color: #ff8100;
   font-size: 20px;
   border: none;
   border-radius: 3px;
   padding: 10px;
   text-align: center;
   box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

}

.btn-clr:hover{

   background-color: #CD366B;
   font-size: 20px;
   cursor: pointer;
   color: white;
   border: none;
   border-radius: 3px;
   padding: 10px;
   text-align: center;
   box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}