.hero-img{
    width: 100%;
    height: 80%;
}
.header-img{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-size: relative;
    position: relative;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../Images/childImg.jpg);
}
.header-text-box{
    padding-top: 15rem;
    margin-left: 15%;
    color: aliceblue;
}

.childCard{
    padding: 60px 20px 80px 20px;
}

/* footer */
.footer{
    margin-top: 80px;
    width: 100%;
    text-align: center;
    padding: 30px 0 20px 0;
    background-color: #394867;
    color: white;
}

.footer h4{
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 1.5rem;
    font-weight: 600;
}

.footer p{
  margin: 20px auto 0px auto;
}



.icons {
    /* color: #f44336; */
    margin: 0px 13px;
    cursor: pointer;
    padding: 18px 2px;
}

/* our journey css */

.our-journey {
    margin: 50px 0;
    padding: 40px;
  }
  
  .our-journey h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .our-journey p {
    font-size: 20px;
    text-align: center;
   
  }

/* about text */

    .about {
        background-color: #e8f0fe;
        padding: 80px;
      }
      
      .about-text {
        font-family: sans-serif;
        color: #333;
        text-align: center;
      }
/* Container(icon-collections) */
.container {
  display: flex;
  justify-content: center; 
  margin-bottom: 60px; 
  margin-top: 100px;
}

.container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
 
  padding: 10px; 
  text-align: center; 
}

.container > div svg {
  width: 200px; 
  fill: #F73D93; 
  margin: 20px 40px; 
  font-size: "2rem";
  size:0cqmax;
}

.container > div p {
  color: #FFC23C;
  margin: 0; 
  font-size: 40px;
}

.text-style{
  font-family:var(--sopot-font-two);
  font-weight:700;
}
.tag-line{
font-size: 80px;
font-family: initial;
color: #ff8100;
text-align: left;
}
.border-line{
  font-size: 25px;
  text-align: left;
  font-family: initial;
  color: #ff8100
}
.head-black-under{
  font-size: 25px;
  color: black;
}
p{
  letter-spacing: 0;
  font-family: initial;
  text-align: center;
}
.head-size{
  font-size: 80px;
  color: black;
}
.para{
  font-size: 23px;
  color: black;
}
h6{
letter-spacing: 0;
}

@media (max-width: 767px) {
  *{
    font-size: 14px; /* Adjust the font size for mobile screens */
  }
  p{
    font-size: 20px;
  }
  .tag-line,.head-size{
    font-size: 50px;
  }
  .head-size{
    font-size: 50px;
  }
  .about{
    padding: 30px;
  }
}