@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.z {
  background: linear-gradient(to bottom right, #ffffff, #fddf9c);
  transition: transform 1s, box-shadow 1s;
}

.z:hover {
  transform: scale(1.007);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.list-heading {
  font-family: "Merriweather", serif;
  position: sticky;
  top: 0;
  z-index: 1;
  background: linear-gradient(to bottom right, #e2def9, #b196fa);
  margin: 0;
  padding: 0;
}