.main_box {
    min-height: 90vh;
    width: 100%;
    background-color:  #ffe2cb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    background: rgb(255, 255, 255);
    border-radius: 30px;
    margin: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-1 {
    padding: 25px;
    justify-content: center;
    overflow: hidden;
}

.item-2 {
    justify-content: space-around;
    display: flex;
    /* padding-right: 5px; */
}


.img-style {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-style2 {
    width: 90%;
    height: 90%;
    object-fit: cover;
    cursor: pointer;
}
.button{
    background-color: #ff8100;
}
.text-color{
    color: #ff8100;
}
