.page {
    flex-direction: 'row';
    background-color: '#E4E4E4';
    padding: 20
  }
  .section {
    flex-grow: 1
  }
  .heading {
    font-size: 20;
    font-weight: 'bolder';
    margin-bottom: 20
  }
 
.columnsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .column {
    width: '45%';
    margin-bottom: 10
  }
  .imageContainer {
    display: 'flex';
    align-items: 'center';
    margin-bottom: 20
  }
  .image{
    width: 170;
    height: 170;
    object-fit: 'cover'
  }