
.rowitem{
    color:#ff8100 ;
}

#active {
    background-color: #ff8100  ;
    color: white;
}
.dashboard-back{
    background-color: rgba(255, 255, 255, 0.5) ;
}
.heading-item{
    margin-top: 15px;
    font-weight: 700;
    color: #ff8100;
    font-size: 30px;
}
.subheading-item{
    margin-top: 15px;
    font-weight: 700;
    color: #ff8100;
    font-size: 25px;
}